<?xml version="1.0" encoding="UTF-8" ?>
<!-- ##################################################################################	-->
<!-- Copyright AspDotNetStorefront.com. All Rights Reserved.							-->
<!-- http://www.aspdotnetstorefront.com													-->
<!-- For details on this license please visit the product homepage at the URL above.	-->
<!-- THE ABOVE NOTICE MUST REMAIN INTACT.												-->
<!-- ##################################################################################	-->

<package version="2.1" displayname="Variants In Right Bar" debug="false" includeentityhelper="true">
  <PackageTransform>

    <xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:aspdnsf="urn:aspdnsf" xmlns:mobile="urn:mobile" exclude-result-prefixes="aspdnsf mobile">
      <xsl:output method="html" omit-xml-declaration="yes" />
      <xsl:param name="LicenseServerRetriesLeft" select="mobile:LicenseServerRetriesLeft()" />

      <xsl:template match="/">
		  <xsl:if test="aspdnsf:ToLower(/root/System/RequestedPage) != 'default.aspx'">
        <ul data-role="listview">
				  <li class="group" data-role="list-divider"></li>
          <li data-icon="arrow-l" class="back">
					  <a href="javascript:history.back()">
						  <xsl:value-of select="aspdnsf:StringResource('Mobile.Global.BackLink')" disable-output-escaping="yes" />
					  </a>
				  </li>
          <li data-icon="home" class="back">
					  <a href="default.aspx">
						  <xsl:value-of select="aspdnsf:StringResource('Mobile.Global.HomeLink')" disable-output-escaping="yes" />
					  </a>
				  </li>
			  </ul>
		  </xsl:if>

		  <div id="footer">
			  <ul class="tameHoriz">
				  <li>
					  <a id="ctl00_A3" href="/default.aspx">Home</a> |
				  </li>
				  <li>
					  <a id="ctl00_A5" href="/t-service.aspx">Customer Service</a> |
				  </li>
				  <li>
					  <a id="ctl00_A6" href="/t-service.aspx">FREE Catalog Download</a> |
				  </li>
				  <li>
					  <a id="ctl00_A1" href="/t-mobilereviews.aspx">What's New</a> |
				  </li>
				  <li>
					  <a id="ctl00_A2" href="http://stiletto.know-where.com/stiletto/">Where to Buy</a> |
				  </li>
				  <li>
					  <a id="ctl00_A4" href="/t-contact.aspx">Contact Us</a> |
				  </li>
				  <li>
					  <a id="ctl00_A7" href="/signin.aspx">Login</a>
				  </li>
			  </ul>
		  </div>
		  <div id="copyright">Copyright 2010 Stiletto Tools. All Rights Reserved. Toll Free: 1-800-987-1849 </div>
		  
		  <xsl:value-of select="mobile:GetContactLinks()" disable-output-escaping="yes" />
        <xsl:if test="number($LicenseServerRetriesLeft) > -1">
          <ul data-role="listview">
            <li>
              The mobile platform cannot reach the license server. The mobile portion of your site will be shut off in <xsl:value-of select="$LicenseServerRetriesLeft" /> hours.
            </li>
          </ul>
        </xsl:if>
      </xsl:template>

    </xsl:stylesheet>
  </PackageTransform>
</package>
